<!doctype>
<html>
    <head>
        <base href="/" />
        <title>Angular app</title>
        <link type="text/css" rel="stylesheet" href="/dist/css/global.css" />
    </head>
    <body>
        {{{body}}}
         <script type="text/javascript" src="/dist/app/main.js"></script>
    </body>
</html>