<!doctype>
<html>
    <head>
    </head>
    <body>
        {{{body}}}
        <script type="text/javascript" src="/dist/app/system.js"></script>
         <script type="text/javascript" src="/dist/app/main.js"></script>
    </body>
</html>